@model HamburgersBlog.Models.Post
@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
    $(document).ready(function () {
        var token = $('[name=__RequestVerificationToken]').val();
		var bodyData = {
			princessId: "@Model.Princess.PrincessID",
            currentPostId: "@Model.PostID"
        };
        bodyData['__RequestVerificationToken'] = token;
        $.ajax({
            url: "/Posts/WantMore",
            type: "Post",
            data: bodyData,
            success: function (response) {
                var el = document.getElementById("morePosts");

                if (!response.error) {
                    el.href = response.url;
                }
                else {
                    el.parentElement.removeChild(el);
                }
            },
            error: function (res) {
                console.log('err', res)
            }
        });

    });
</script>

@{
    ViewBag.Title = "Details";
}

<div class="blog-post">
    <p class="blog-post-title">@Html.DisplayFor(model => model.Title) </p>

    <div class="blog-post-meta">@Html.DisplayFor(model => model.Date)</div>
    <p>@Html.DisplayFor(model => model.Content)</p>

    <a id="morePosts">Want more posts of @Html.DisplayFor(model => model.Princess.Name)? click here</a>
    <footer class="blockquote-footer">@Html.DisplayFor(model => model.AuthorName), <cite>@Html.DisplayFor(model => model.Princess.Name)</cite></footer>
</div>

<div class="container">
    <h3>Comments:</h3>
    <br />
    <ul class="comments-list col-md-8" id="comment-list">@Html.DisplayFor(model => model.Comments)</ul>
</div>
<div class="add-comment">
    @*@Html.Action("Create", "Comment", new { PostID = Model.PostID, area = "" });*@
    @*@Html.RenderPartial("Create", new { PostID = Model.PostID, area = "" })*@
    @Html.Action("Add", "Comments", new { PostID = Model.PostID });



</div>
<hr>
<div class="container">
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.PostID }) |*@
    @Html.ActionLink("Back to List", "Index")
</div>
