@model HamburgersBlog.Models.Restaurant

@{
    ViewBag.Title = "Details";
}

<div>
    <h2>@Html.DisplayFor(model => model.Name) Details</h2>
    <hr />
    <dl class="dl-horizontal"> </dl>
    <div class="restaurant-container">
        <div class="img-container">
            <img class="restaurant-img" src="/Media/images/@(Model.Name.ToLower()).jpg" alt="Alternate Text" />
        </div>
        <div class="details-container">
            <p>Name: @Html.DisplayFor(model => model.Name)</p>
            <p>Location: @Html.DisplayFor(model => model.Location)</p>
            <p>Rate: @Html.DisplayFor(model => model.Rate) Stars</p>
            <div class="compatible">
                @if (@Model.IsVeganFriendly)
                {
                    <img title="Vegan Friendly" class="compatible-image" src="~/Media/images/vegeterian.png" />
                }
                @if (@Model.IsKosher)
                {
                    <img title="Is Kosher" class="compatible-image" src="~/Media/images/kosher.png" />
                }
                @if (@Model.IsParkingAvailable)
                {
                    <img title="Close Parking Avilable" class="compatible-image" src="~/Media/images/parking.png" />
                }
            </div>
        </div>
    </div>
</div>

<div class="reviews-container">
    <h2>Reviews</h2>
    <hr />
    @foreach (var item in Model.Reviews)
    {
        <p class="review-title">@item.Title</p>
        <p class="review-content">@item.Content</p>
        <p class="review-author-name">@item.AuthorName</p>
    }
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
