@model IEnumerable<HamburgersBlog.Models.Restaurant>
@{
    ViewBag.Title = "Index";
}
<h2>Restaurants</h2>

@using (Html.BeginForm("Filter", "Restaurants", FormMethod.Post, new { @class = "form-inline"}))
{
    <h3>Filter Restaurants By:</h3>
    <div class="form-group">
        @Html.DropDownList("area", EnumHelper.GetSelectList(typeof(HamburgersBlog.Models.Area)), "Choose Area...", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.TextBox("restaurantName", "", new { @class = "form-control", placeholder = "Restaurant Name" })
    </div>

    <div class="form-group">
        @Html.TextBox("greaterRateThan", 1, new { @class = "form-control", @type = "number", max = 5, min = 1, title = "Greater Rate Than", placeholder = "Greater Rate Than" })
    </div>

    <input class="btn btn-search-posts" type="submit" value="Search" />
}

<div class="container restaurants">
    <section class="cards">
        @foreach (var item in Model.ToArray().OrderBy(r => -r.Rate))
        {
            <article class="card card--1">
                <div class="card__info-hover">
                    <div class="card__clock-info">
                        <p class="card__time restaurant-details-button">
                            @Html.ActionLink("More Details", "Details", new { id = item.RestaurantID }, new { @style = "background-color: #4CAF50; border: none; color: white; padding: 5px 12px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px;" })
                        </p>
                    </div>

                </div>
                <div class="card__img" style="background-image: url('/Media/images/@(item.Name.ToLower()).jpg')"></div>
                <a href="/Restaurants/Details/@item.RestaurantID" class="card_link">
                    <div class="card__img--hover" style="background-image: url('/Media/images/@(item.Name.ToLower()).jpg')"></div>
                </a>
                <div class="card__info">
                    <span class="card__category">@Html.DisplayFor(modelItem => item.Location)</span>
                    <h3 class="card__title">
                        @Html.DisplayFor(modelItem => item.Name)
                        <div class="compatible">
                            @if (item.IsVeganFriendly)
                            {
                                <img title="Vegan Friendly" class="compatible-image" src="~/Media/images/vegeterian.png" />
                            }
                            @if (item.IsKosher)
                            {
                                <img title="Is Kosher" class="compatible-image" src="~/Media/images/kosher.png" />
                            }
                            @if (item.IsParkingAvailable)
                            {
                                <img title="Close Parking Avilable" class="compatible-image" src="~/Media/images/parking.png" />
                            }
                        </div>
                    </h3>
                    <span class="card__by">rate <a href="#" class="card__author" title="author">@Html.DisplayFor(modelItem => item.Rate)</a></span>
                </div>
            </article>
        }
    </section>

</div>